.mainFooter {
    background-color: #0E1738;
}

.footerBottom {
    padding: 10px 0;
    background-color: #F6F8F9;
    position: relative;
    border-top: 5px solid #8B57A1;
}

.footerBottom:before,
.footerBottom:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 33%;
    top: -5px;
    border-top: 5px solid #8B57A1;
}

.footerBottom:after {
    width: 25%;
    left: 75%;
    border-color:#6396FF;
}

.footerBottom:before {
    width: 25%;
    left: 50%;
    border-color:#B87FBC;
}

.footerContainer {
    width: 100%;
    max-width: 1200px;
    position: relative;
    text-align: left;
    margin: auto;
}

@media only screen and (max-width: 1280px) and (min-width: 0px) {
    .footerContainer {
        max-width: 100%;
        padding: 0 20px;
    }
}

.footerWidgets {
    padding: 6% 0 0;
}

.footerWidgets:after {
    clear: both;
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
    .footerWidgets {
        padding: 50px 0;
    }
}

.footerWidget {
    color: #ffffff;
    float: left;
}

@media (min-width: 981px) {
    .footerWidget {
        width: 20.875%;
        margin-right: 5.5%;
        margin-bottom: 5.5%;
    }

    .footerWidget:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .footerWidget {
        margin-bottom: 35px;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }

    .footerWidget:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .footerWidget {
        width: 25%;
        margin: 0;
    }
}

.copyRightArea {
    width: 50%;
    float: left;
    line-height: 25px;
}

.socialLinksArea {
    width: 50%;
    float: right;
}

.socialLinksList {
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;
}

.socialLinksItem {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 0 0 8px;
    padding: 0;
    text-align: right;
    list-style: none;
}

.socialLinksLink {
    color: #fff;
    background-color: #6a2f6c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    display: block;
    transition: all .4s ease-in-out;
    padding-top: 4px;
}